@import "./core/reset";
@import "./core/typography";
@import "./abstracts/variables";
@import "./components/atoms/atoms";
@import "./components/molecules/molecules";
@import "./components/organisms/organisms";
@import "./templates/layout";

/* GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: map-get($font-sizes, "global");
  font-family: $font-family-roboto;
  background-color: $background-color;
}